<main>
<div class="users container">
    <h1>Users</h1>
    <% @users.each do |user| %>
        <div class="user">
            <img src=<%= user.photo %> alt="User Photo" class="user-photo">
            <div class="user-detail">
                <h2 class="user-name"><a href="/users/<%= user.id %>"><%= user.name%></a></h2>
                <h4 class="post-count">Number of posts: <%= user.posts_counter %> </h4>
            </div>

        </div>
    <% end %>
</div>
</main>