/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  background-color: #fafafa;
}

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --terciary: #d3d3d3;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #f1ecea;
  --dark: #00262b;
  --white: #fff;
  --lato-font: 'Lato', sans-serif;
}

body {
  font-family: var(--lato-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.my-1 {
  margin: 10px 0;
}

.right {
  text-align: right;
}

.users-title {
  padding: 15px;
  margin: 15px 0;
}

.card {
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  background-color: #b5f6ff;
  transform: scale(1.05);
}

.user-image {
  max-width: 120px;
  margin: 10px;
  flex: 20%;
}

.user-data {
  padding: 10px;
  text-align: left;
  margin: 10px;
  flex: 80%;
}

.border {
  border: 1px solid black;
}

.number-posts {
  padding: 10px;
  text-align: right;
}

.bg-green {
  background: #0d7d4d;
  color: #f1ecea;
}

.btn {
  border: 0;
  border-radius: 0.25rem;
  background: #32393f;
  color: white;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

.commets-container {
  padding: 10px;
}
